<!DOCTYPE html
-->

<!-- Home page for Server_Notes-->

<html>

<head>

<title>Server Notes</title>
<link rel="stylesheet" href="bootstrap.css"/>
<link rel="stylesheet" href="bootstrap.theme.min.css"/>
</head>
<style>
form {
    width: 300px;
    margin: 0 auto;
    font-size="10";

}
input{
width: 400px;
}
body { background:lightblue !important; }
.search{
width: 100px;
margin: 0 auto;
position:relative;
left: 50%;

}
</style>
<body>

<p style="font-size:50px">Server Notes</p>
<form action="/formDone" enctype="multipart/form-data" method="post">
  Host Name:<br>
  <input type="text" name="hostname" value="">
  <br>
  Problem:<br>
  <input type="text" name="problem" value="">
<br>
  Priority:  <br>
  <input type="text" name ="Priority" value="">
<br>
 <input class="btn btn-primary" type="submit" value="Submit">
</form>
<a href="/button"><button class="btn btn-success search">Search</button></a>
</div>
</div>

</body>




</html>
